
.login{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(#0000007e, #0000007e), url(../../assets/background_banner.jpg);
    padding: 40px 0;
    padding-left: 20px;
    position: fixed;
}
.login-logo{
    width: 150px;
    margin-right: 70px;
}

.login-form{
    width: 100%;
    max-width: 350px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 60px;
    margin: auto;
}
.login-form h1{
    font-size: 32px;
    font-weight: 500px;
    margin-bottom: 18px;
}
.login-form input{
    width: 90%;
    height: 30px;
    background: #333;
    color: white;
    margin: 12px 0;
    border: 0;
    outline: 0;
    border-radius: 4px;
    font-size: 16px;
    padding: 12px 18px;
    font-weight: 500;
}
.login-form input::placeholder{
    font-size: 16px;
    font-weight: 500;
}
.login-form button{
    width: 100%;
    border: 0;
    outline: 0;
    padding: 16px;
    background: #e50914;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
    cursor: pointer;
}
.form-help{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #b3b3b3;
    font-size: 13px;
}
.remember{
    display: flex;
    align-items: center;
    gap: 6px;
}
.remember input{
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.form-switch{
    margin-top: 30px;
    color: #737373;
}
.form-switch span{
    margin-left: 6px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}